@import 'variables';

.location {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1440px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.location__title {
  color: $primary-color;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

// div class="adress_map"

.adressmap {
  margin-top: 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  &__adress {
    display: grid;
    grid-template-rows: 150px 80px repeat(4, 30px);
    
  }
  
  &__icon {
    width: 15%;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
  }
  
  &__text {
    color: $secondary-color;
    text-align: center;
    font-family: "Vollkorn";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
  }
  
  &__mymap {
    width: 95%;
    height: 100%;
  }

}

