*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@import 'reset-projects';
@import 'location.scss';
@import 'header.scss';
@import 'comments.scss';
@import 'media_for_location.scss';
@import 'media_for_comments.scss';
@import 'media_for_reset.scss';
@import 'media_for_header.scss';
@import 'our_team.scss';
@import 'media_for_our_team.scss';
